
<div id="rightboxes">
<div id="avatar_profil" class="boximage">
    <% if !@user.avatar.nil?%>
      <script type="text/javascript">affiche_image_profil(<%@user.avatar.url(:medium)%>); </script>
    <% end %>
      <p class="rotate">
   <a href="#"><span>Mon profil</span> </a>
 </p>
</div>
</div>
<h1>Mon profil</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
