<div id="bottom">
    <div id="btmcontent">
        <div class="col1">
            <h2>Club</h2>

            <p>Nous nous rencontrons régulièrements au club</p>
            <ul>
                <li><a href="#">Présentation du club</a></li>
                <li><a href="#">Agenda</a></li>
                <li><a href="#">Utiliser notre local</a></li>
                <li><a href="#">Les rencontres</a></li>
            </ul>
        </div>

        <div class="col2">
            <h2>Kiss kokin</h2>

            <p>Les fonctionnalités de kisskokin.</p>
            <ul>
                <li><a href="#">Chat public</a></li>
                <li><a href="#">Salons de tribus</a></li>
                <li><a href="#">Album photo</a></li>
                <li><a href="#">Mes vidéos</a></li>
                <li><a href="#">Mes tribus</a></li>
                <li><a href="#">Mes rencontres </a></li>

            </ul>

        </div>

        <div class="col3">
            <h2>Nous contacter</h2>

            <p>Vous pouvez nous contacter. Vous souhaitez :</p>
            <ul>
                <li><a href="#">faire une suggestion pour le site</a></li>
                <li><a href="#">venir au club</a></li>
                <li><a href="#">louer le local</a></li>
                <li><a href="#">nous avertir à propos d'un utilisateur</a></li>

            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">

        <p>Kiss Kokin</p>
        <span class="credit"><a href="http://cssheaven.org" title="free and open source css template">CSS Template</a> by CSS Heaven Released under GPL License</span>
    </div>
</div>