<div id="topbanner">
    <div class="container">
        <h1 id="sitename"><a href="#">Kiss Kokin </a> <span>1er site libertin éthique</span>

        </h1>

        <div id="mainnav">
            <ul>
                <li class="active"><a href="index.html">Mon profil <span>home..</span></a></li>
                <li><a href="style.html">Mes tribus <span>Mon réseau</span></a></li>
                <li><a href="about.html">Mes photos <span>Album publics et privés</span></a></li>
                <li><a href="blog.html">Mes vidéos <span>Ma collection</span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>